/*
---
name: Alert
category: Components
---

Alerts can be used with `<div>` and `<span>` tags to encapsulate alerts.

Types of alerts:
- Default: Commonly not used.
- Info: Alert for infos
- Careful: Alert for careful infos
- Fluid: Alert with 100% of width

```types.html
<div class="alert">Default Alert</div>
<div class="alert alert--info">Info Alert</div>
<div class="alert alert--careful">Careful Alert</div>
```
*/

.alert {
  background-color: $color_porcelain;
  font-weight: 500;
  padding: 8px 16px;

  &--info {
    color: $color_scooter;
  }

  &--careful {
    color: $color_heliotrope;
  }

  &--fluid {
    width: 100%;
  }
}
