/*
---
name: Button
category: Components
---

Buttons can be used with `<a>`, and `<button>` elements.

Types of buttons:
- Default: Standard button
- Primary: Provides extra visual red background-color
- Disabled: Disabled button (with prop or `--disabled` mod

```types.html
<button class="button">Default</button>
<button class="button button--primary">Primary</button>
<button class="button" disabled>Disabled</button>
```
*/

.button {
  background-color: transparent;
  border: 0;
  color: $color_fiord;
  font-weight: 301;
  padding: 10px 20px;
  transition: background-color .1s ease-in-out, color .1s ease-in-out;

  &:hover {
    background-color: $color_fiord;
    color: $color_plain_white;
    cursor: pointer;
  }

  &--primary {
    background-color: $color_flamingo;
    color: $color_plain_white;

    &:hover {
      background-color: $color_bittersweet;
    }
  }

  &--disabled,
  &:disabled {
    background-color: inherit;
    color: inherit;
    cursor: no-drop;
    opacity: .4;
  }
}
