/*
---
name: Form
category: Components
---

Form is a group of components, including `__field`, `__label`, `__input` sub-components.

The `__field` has the `--fluid` modifier that adds `width: 100%`.

The `__input` has the `--high` modifier that adds `height: 200px`.

```types.html
<div class="form__field">
  <label for="name" class="form__label">Nome de usuário</label>
  <input type="text" id="name" placeholder="ex. João da Silva" class="form__input space__16">
</div>

<div class="form__field space__20">
  <label for="textao" class="form__label">Conteúdo</label>
  <textarea id="textao" placeholder="Escreva ou cole (⌘ + V) seu texto aqui." class="form__input space__16"></textarea>
</div>
```
*/

.form {
  &__field {
    clear: both;
    display: flex;
    flex-direction: column;
    float: left;

    &--fluid {
      width: 100%;
    }
  }

  &__label {
    color: $color_shuttle_gray;
    font-size: 15px;
    text-align: left;
  }

  &__input {
    background-color: $color_plain_white;
    border: 1px solid $color_mercury;
    color: $color_fiord;
    font-size: 16px;
    letter-spacing: -.16px;
    line-height: 25px;
    max-width: 100%;
    outline: none;
    padding: 15px;
    resize: none;
    text-align: left;
    transition: border .3s ease-in-out;

    &::placeholder {
      color: $color_gray_chateau;
      font-style: italic;
    }

    &:focus {
      border-color: $color_loblolly;
    }

    &--high {
      height: 200px;
    }
  }
}
