.modal {
  background-color: $color_plain_white;
  display: flex;
  flex-direction: column;
  position: relative;

  &__title {
    padding: 20px 35px;
    width: 100%;
  }

  &__steps {
    background-color: $color_athens_gray;
    display: flex;
    margin: 0;
    padding: 25px 20px;
  }

  &__step {
    align-items: center;
    display: flex;

    &:not(:first-child) {
      margin-left: 20px;
    }

    &--active {
      .modal__step-index {
        background-color: $color_viking;
        color: $color_plain_white;
        opacity: 1;
      }

      .modal__step-name {
        font-weight: 500;
        opacity: 1;
      }
    }

    &--checked {
      .modal__step-index {
        background-color: $color_viking;
        color: $color_plain_white;
        opacity: .4;

        &::after {
          display: block;
        }
      }
    }
  }

  &__step-index {
    background-color: $color_plain_white;
    border: 1px solid $color_viking;
    color: $color_viking;
    font-size: 18px;
    font-weight: 500;
    height: 25px;
    opacity: .4;
    position: relative;
    text-align: center;
    width: 25px;

    &::after {
      background-color: $color_viking;
      background-image: inline-svg('checked');
      background-position: center;
      background-repeat: no-repeat;
      bottom: 0;
      content: '';
      display: none;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__step-name {
    color: $color_rhino;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    opacity: .4;
    text-align: left;
  }

  &__body {
    padding-top: 30px;
  }

  &__step-body {
    display: none;
    text-align: center;

    &--active {
      display: block;
    }
  }

  &__step-title {
    color: $color_regent_gray;
    display: block;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
    max-width: 600px;
    min-height: 54px;
    padding: 0;

    span {
      display: block;
    }
  }

  &__step-image {
    margin-top: 15px;
    max-width: 548px;
  }

  &__actions {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 60px 25px;
    position: absolute;
    width: 100%;
  }
}
