/*
---
name: Page Banner
category: Components
---

Page Banner is a component that encapsulates the title and subtitle of the page.

You can use the following modifiers:
- `--advertising`: background color is orange
- `--careful`: background color is purple
- `--hope`: background color is green
- `--info`: background color is blue
- `--power`: background color is red
- `--receiver`: adds `padding-bottom: 100px` to open space for bottom content

```types.html
<div class="page-banner">
  <h1 class="title-page">
    Dicionário de termos técnicos
    <small>Tem alguma vaga com palavras desconhecidas? Cole a descrição no campo de texto e nós traduziremos para você. É simples e rápido!</small>
  </h1>
</div>

<div class="page-banner page-banner--advertising">
  <h1 class="title-page">
    Dicionário de termos técnicos
    <small>Tem alguma vaga com palavras desconhecidas? Cole a descrição no campo de texto e nós traduziremos para você. É simples e rápido!</small>
  </h1>
</div>

<div class="page-banner page-banner--careful">
  <h1 class="title-page">
    Dicionário de termos técnicos
    <small>Tem alguma vaga com palavras desconhecidas? Cole a descrição no campo de texto e nós traduziremos para você. É simples e rápido!</small>
  </h1>
</div>

<div class="page-banner page-banner--hope">
  <h1 class="title-page">
    Dicionário de termos técnicos
    <small>Tem alguma vaga com palavras desconhecidas? Cole a descrição no campo de texto e nós traduziremos para você. É simples e rápido!</small>
  </h1>
</div>

<div class="page-banner page-banner--info">
  <h1 class="title-page">
    Dicionário de termos técnicos
    <small>Tem alguma vaga com palavras desconhecidas? Cole a descrição no campo de texto e nós traduziremos para você. É simples e rápido!</small>
  </h1>
</div>

<div class="page-banner page-banner--power">
  <h1 class="title-page">
    Dicionário de termos técnicos
    <small>Tem alguma vaga com palavras desconhecidas? Cole a descrição no campo de texto e nós traduziremos para você. É simples e rápido!</small>
  </h1>
</div>
```
*/

.page-banner {
  background-color: $color-oxford;
  color: $color_plain_white;
  padding: 44px 0 36px;
  position: relative;

  &::after {
    background-color: $color-oxford;
  }

  &--advertising,
  &--advertising::after {
    background-color: $color_neon_carrot;
  }

  &--careful,
  &--careful::after {
    background-color: $color_heliotrope;
  }

  &--hope,
  &--hope::after {
    background-color: $color_pastel_green;
  }

  &--info,
  &--info::after {
    background-color: $color_scooter;
  }

  &--power,
  &--power::after {
    background-color: $color_flamingo;
  }

  &--receiver {
    &:after {
      content: '';
      bottom: -100px;
      height: 100px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }
}
